@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...
@include pictos-iconmask('fforward');
@include pictos-iconmask('star');
@include pictos-iconmask('flag');
@include pictos-iconmask('pause');
@include pictos-iconmask('play1');

.top-bar {
    height: 90px;

    .app-logo {
        background: url(http://docs.sencha.com/touch/2-0/resources/images/logo.png) no-repeat;
        padding-left: 25px;
        color: white;
        margin-right: 10px;
    }
}

.stations-list {
    width: 250px;
}

.coverview {
    height: 220px;

    .x-dataview-item {
        img {
            margin: 10px 0 10px 10px;
            width: 200px;
            height: 200px;
        }
    }
}